// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$body-font-family: "Rubik", sans-serif;
$title-font: "Rubik", sans-serif;
$heading-font-family: "Rubik", sans-serif;
$btn-border-radius: 0.625rem;
